<main class="max-container py-8 md:py-12 flex flex-col xl:flex-row items-center justify-between gap-12 bg-gradient-to-r">
    <!-- Text Section -->
    <section class="xl:w-1/2 w-full flex justify-center items-center relative z-10">
      <div class="flex flex-col gap-6 px-4 md:px-0">
        <h1 class="text-4xl md:text-6xl font-bold font-montserrat text-slate-800 leading-tight">
          Fast <span class="text-red">Mobile <span class="text-gray-800">&</span> On-Site</span>
        </h1>
        <p class="text-xl md:text-2xl font-medium font-palanquin text-gray-600">
          Auto Key Programming Services.<br>
          <span class="text-red"> Mobile Service</span> – We Come to You!
        </p>
        <div class="flex items-center gap-4">
          <p class="text-lg font-semibold font-montserrat text-slate-800">CALL US:</p>
          <a href="tel:+12026608621" class="bg-red text-white text-lg font-semibold px-6 py-2 rounded-lg
             hover:bg-red-800 transition-colors">
            +1 (202) 660-8621
          </a>
        </div>
      </div>
    </section>
  
    <!-- Image Section -->
    <section class="xl:w-1/2 w-full flex justify-center items-center">
        <section class="relative w-full max-w-lg">
            <div class="relative w-full h-72">
                <div *ngFor="let image of images; let i = index"
                        class="absolute w-full h-full transition-opacity duration-1000"
                        [ngClass]="{'z-10': i === currentIndex, 'z-0': i !== currentIndex}"
                        [ngStyle]="{ 'opacity': i === currentIndex ? 1 : 0 }">
                    <img [src]="image" class="w-full h-full rounded-2xl object-cover" />
                </div>
            </div>
        </section>
    </section>
  </main>
