<main class="relative min-h-screen w-full flex flex-col gap-4"
       [ngClass]="{'black-bg': drawerShown}">
    <!--header-->
    <section class="fixed top-0 z-50 bg-gray-300 flex justify-center items-center w-full">
            <app-header 
                class="w-full"
                (onSectionSelected)="onSectionSelected($event)"
                (onShowDrawer)="onShawDrawer($event)"
            ></app-header>       
    </section>
    <!--home-->
    <section id="home" class="pt-[186px] md:pt-36">
        <app-home></app-home>
    </section>
    <!--services-->
    <section id="services"  class="py-16 w-full" [ngClass]="{'black-bg': drawerShown}">
        <app-services 
            [showDrawer]="drawerShown">
        </app-services>
    </section>
    <!--footer-->
    <footer id="contactus" class="w-full">
        <app-footer [showDrawer]="drawerShown"></app-footer>
    </footer>
</main>

