<main class="w-full py-12 ">
  <section class="max-container py-10" 
    [ngClass]="{'bg-gray-200':!showDrawer, 'bg-black':showDrawer}">
    <div class="max-w-6xl mx-auto px-6">
      <h2 class="text-4xl md:text-5xl font-bold font-montserrat text-center text-gray-800 mb-12">
        Our Services
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
        <div *ngFor="let service of services" 
          class="relative px-6 py-10 rounded-2xl shadow-md hover:shadow-xl hover:-translate-y-2 
            transition-all duration-300 text-center"
          [ngClass]="{'bg-white':!showDrawer, 'bg-black':showDrawer}">
          <!-- Red Accent Line -->
          <div class="absolute top-0 left-1/2 transform -translate-x-1/2 w-12 h-1 bg-red rounded-b"></div>
          <!-- Icon -->
          <!-- <div class="text-4xl mb-4 text-red">            
            
          </div> -->
          <h3 class="text-xl md:text-2xl font-semibold font-montserrat text-red mb-2">
            {{ service.title }}
          </h3>
          <p class="text-base font-medium font-palanquin text-gray-700">
            {{ service.description }}
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
